<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table>
        <thead>
            <th>Название</th>
            <th>Количество</th>
            <th>Стоимость</th>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.count}}</td>
                    <td>{{product.price}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>