<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% if errors|length > 0 %}
        <ul>
            {% for error in errors %}
                <li>
                    {{ error.message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{{ path('create_user') }}" method="POST" enctype="multipart/form-data">

        <div>
            <span>Фотография: </span>
            <input type="file" name="image">
        </div>

        <span>Отдел: </span>
        <select name="departmentSelected">
            {% for department in departments %}
                <option value="{{department.id}}">{{department.title}}</option>
            {% endfor %}
        </select>

        <div>
            <span>Имя: </span>
            <input name="firstName">
        </div>
        <div>
            <span>Фамилия: </span>
            <input name="lastName">
        </div>
        <div>
            <span>Возраст: </span>
            <input name="age">
        </div>
        <div>
            <span>Статус: </span>
            <input name="status">
        </div>
        <div>
            <span>Почта: </span>
            <input name="email">
        </div>
        <div>
            <span>Телеграм: </span>
            <input name="telegram">
        </div>
        <div>
            <span>Адрес: </span>
            <input name="address">
        </div>
        <button>Создать</button>
    </form>
</body>
</html>