<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		
		<form action="{{ path("create_product") }}" method="POST">
			<div>
				<input 
				type="text" 
				name="name" 
				placeholder="Введите название">
			</div>

			<div>
				<input 
				type="number" 
				name="price" 
				placeholder="Введите стоимость">
			</div>

			<div>
				<input 
				type="number" 
				name="count" 
				placeholder="Введите количество">
			</div>

			<div>
				<input type="submit">
			</div>
		</form>
	</body>
</html>
