<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
	</head>
	<body>
		
		<form action="{{ path("create_user") }}" method="POST">
			<div>
				<input 
				type="text" 
				name="first_name" 
				placeholder="Введите фамилию">
			</div>

			<div>
				<input 
				type="text" 
				name="second_name" 
				placeholder="Введите имя">
			</div>

			<div>
				<input 
				type="text" 
				name="last_name" 
				placeholder="Введите отчество">
			</div>

			<div>
				<input 
				type="text" 
				name="address" 
				placeholder="Введите адресс">
			</div>

			<div>
				<input 
				type="phome" 
				name="phone" 
				placeholder="Введите телефон">
			</div>

			<div>
				<input 
				type="email" 
				name="email" 
				placeholder="Введите эл. почту">
			</div>

			<div>
				<input type="submit">
			</div>
		</form>
	</body>
</html>
